#main{
    font-family: 'Roboto', sans-serif;
    margin-top:120px;
    color:#2C252D
}

#main h3{
    font-size:36px;
}
#main h4{
    font-size:24px;
    font-weight: normal;
    margin:0;
    padding:0;
}
.description p{
    font-size: 14px;
}
.left-column{
    margin-left:80px;
    display: flex;
    flex-direction: column;
}
.left-column p{
    display: block;
    margin:0;
}
.container{
    display: flex;
}
.feature{
    border-left-style: dashed;
    height: 103px;
}
.right-column{
    margin-left:80px;
}

.feature .description{
    display:none;
}
.active .description{
    display: block;
}
.call-to-action{
    border-style: none;
    width: 350px;
    height: 77px;
    color:white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 50px;
    background-image: linear-gradient(to right, #5E5E5E, #2C252D);
}